{% extends 'silverstrike/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}

{% block content_header %}
<h1>{% trans 'Budgets' %}
</h1>
<ol class="breadcrumb">
  <li><a href="/">{% trans 'Home' %}</a></li>
  <li class="active">{% trans 'Budgets' %}</li>
</ol>
{% endblock %}

{% block content %}
<div class="box">
  <div class="box-body">
    <div class="text-center">
      <a href="{% url 'budget_month' previous_month.year previous_month.month %}" class="btn btn-xs btn-default">{% trans 'Previous' %}</a>
      <span>{{ month|date:'F Y'}}</span>
      <a href="{% url 'budget_month' next_month.year next_month.month %}" class="btn btn-xs btn-default">{% trans 'Next' %}</a>
    </div>
  </div>
</div>

    <div class="row padding-large-vertical">
      <div class="col-md-3">
        <div class="small-box bg-yellow">
          <div class="inner">
            <h4>{% trans 'Allocated' %}</h4>
            <h3>{{ allocated }}</h3>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="small-box bg-red">
          <div class="inner">
            <h4>{% trans 'Spent' %}</h4>
            <h3>{{ spent }}</h3>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="small-box bg-green">
          <div class="inner">
            <h4>{% trans 'Left to spend' %}</h4>
            <h3>{{ left }}</h3>
          </div>
        </div>
      </div>
    </div>

    {% regroup list by cat_type as cat_lst %}
    {% for cat in cat_lst %}
    <div class="col-xs-4 col lg-4">
      <div class="div">
        <div class="d-flex justify-content-start">
          <div class="row">
            <div class="col-xs-10 vcenter"><h4>{{cat.grouper}}</h4></div>
            <div class="col-xs-2 vcenter"><button type="button" class="btn btn-primary pull-right">Add Category</button></div>
          </div>   
        </div>
        <div class="list-group custom-scroll-bar">
          {% for c in cat.list %}
          <a class="list-group-item vcenter"> {{ c.cat_name }}
            <span class="pull-right">
              <button type="button" class="btn btn-xs btn-light">
              <span class="glyphicon glyphicon-plus-sign blue-custom" data-toggle="modal" data-target="#exampleModal{{forloop.counter0}}{{forloop.parentloop.counter0}}"></span>
              </button>
            </span>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}

<!--Modal-->
{% regroup list by cat_type as cat_lst %}
{% for cat in cat_lst %}
  {% for c in cat.list %}
<div class="modal fade" id="exampleModal{{forloop.counter0}}{{forloop.parentloop.counter0}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-between">
        <span class="modal-title p-2 w-5 h4" id="exampleModalLabel">{{c.cat_name}}</span>
        <button type="button" class="close p-2" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col col-sm-6">
            <!-- <div class="font-weight-bold"> -->
              <h5>
                Spending limit of {{ month|date:'F Y'}}
              </h5>
            <!-- </div> -->
            <div>
              <h4>
                <strong>{{c.budget_amount}}$</strong>
              </h4>
            </div>
          </div>
          <div class="col col-sm-3">
            <h5>Recommended daily spending</h5>
            <h4>
              <strong>{{c.recommend_spend}}</strong>
            </h4>
          </div>
          <div class="col col-sm-3">
            <h5>Actual daily spending</h5>
            <h4>
              <strong>{{c.daily_spent}}$</strong>
            </h4>
          </div>
        </div>

        <div class="row">
          <div class="col col-sm-6">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-10 no-padding">
                    <div class="container-fluid no-padding">
                        Spend
                    </div>
                    <div class="container-fluid no-padding">
                      <h4>
                        <strong>{{c.spent}}$</strong>
                      </h4>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="container-fluid">Left</div>
                    <div class="container-fluid">
                      <h4>
                        <strong>{{c.left}}</strong>
                      </h4>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="progress progress-custom">
                    {% if c.percent < 60 %}
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{ c.percent }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    {% else %}
                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{ c.percent }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>
            <canvas id="myChart" width="450" height="250"></canvas>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endfor %}
{% endfor %}

{% endblock %}


{% block scripts %}
<script src="{% static 'vendor/js/Chart.bundle.min.js' %}"></script>
<script type="text/javascript">
var drawChart = function(res) {
  var ctx = document.getElementById("myChart").getContext('2d');


  var horizonalLinePlugin = {
  afterDraw: function(chartInstance) {
    var yScale = chartInstance.scales["y-axis-0"];
    var canvas = chartInstance.chart;
    var ctx = canvas.ctx;
    var index;
    var line;
    var style;
    if (chartInstance.options.horizontalLine) {
      for (index = 0; index < chartInstance.options.horizontalLine.length; index++) {
        line = chartInstance.options.horizontalLine[index];
        if (!line.style) {
          style = "rgba(169,169,169, .6)";
        } else {
          style = line.style;
        }
        if (line.y) {
          yValue = yScale.getPixelForValue(line.y);
        } else {
          yValue = 0;
        }
        ctx.lineWidth = 3;
        if (yValue) {
          ctx.beginPath();
          ctx.moveTo(0, yValue);
          ctx.lineTo(canvas.width, yValue);
          ctx.strokeStyle = style;
          ctx.stroke();
        }
        if (line.text) {
          ctx.fillStyle = style;
          ctx.fillText(line.text, 0, yValue + ctx.lineWidth);
        }
      }
      return;
    };
  }
};
Chart.pluginService.register(horizonalLinePlugin);



  var data = {
      labels: res.labels,
      datasets: []
  };
  var dataset = {
    label: 'Balance',
    fill: false,
    tension: 0.1,
    backgroundColor: '#357ca5',
    borderColor: '#357ca5',
    data: res.datafront
  };
  data.datasets.push(dataset);
  var dataset = {
    label: 'Linear Regressor Predictor',
    fill: false,
    tension: 0.1,
    backgroundColor: '#228B22',
    borderColor: '#228B22',
    data: res.databack
  };
  data.datasets.push(dataset);
  var dataset = {
    label: 'Time Series Predictor',
    fill: false,
    tension: 0.1,
    backgroundColor: '#FFD700',
    borderColor: '#FFD700',
    data: res.databack2
  };
  data.datasets.push(dataset);

  balanceChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: {
          tooltips: {
              mode: 'index',
              position: 'nearest',
              intersect: false,
              caretPadding: 5
          },
          legend: {
            position: 'none'
          },
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          },
          "horizontalLine": [{
              "y": 3000,
              "style": "rgba(255, 0, 0, .3)",
          }]

      }
  });
};
$.getJSON("{% url 'api_balance' '2022-11-01' '2022-11-31' %}", {}, function(res, status) {
  drawChart(res);
});
</script>
{% endblock %}
